<div class="overlay-background">

  <div class="card" *ngIf="!(authService.jwt$ | async)">
    <mat-icon (click)="closed.emit()"><i class="fas fa-window-close"></i></mat-icon>

    <h2>Please login to create events</h2>
  </div>

  <div class="card" *ngIf="!!(authService.jwt$ | async)">

    <mat-icon (click)="closed.emit()"><i class="fas fa-window-close"></i></mat-icon>

    <h1>
      Add a new Event
    </h1>


    <!--<form [formControl]="eventForm">-->

    <mat-form-field class="">
      <input matInput placeholder="Title" [(ngModel)]="event.name">
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="choose a start date" [(ngModel)]="event.startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker startView="year"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="choose a end date" [(ngModel)]="event.endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker startView="year"></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-checkbox [(ngModel)]="event.fullDay">is it a whole day event?</mat-checkbox>

    <mat-divider></mat-divider>


    <h2>Event Details</h2>

    <mat-checkbox [(ngModel)]="event.virtaul">is it a virtual event?</mat-checkbox>

    <br>

    <mat-form-field class="full-line">
      <input matInput placeholder="Location" [(ngModel)]="event.region">
    </mat-form-field>

    <br>
    <mat-form-field class="full-line">
      <mat-chip-list #chipList>

        <mat-chip *ngFor="let chip of chipItemsList"
                  [selectable]="true"
                  [removable]="true"
                  (removed)="remove(chip)">
          {{chip.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

      </mat-chip-list>
      <input class="full-line"
             [matChipInputFor]="chipList"
             placeholder="tags"
             (matChipInputTokenEnd)="add($event)">
    </mat-form-field>
    <br>

    <mat-form-field class="full-line">
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>


    <mat-divider></mat-divider>

    <button (click)="createEvent()"
            mat-button
            matTooltip="navigate to today">save
    </button>
  </div>


</div>
